.vscode
postgresql-neondb.session.sql
authentication_service/.env
converter-service/venv
converter-service/conversion/__pycache__
converter-service/connections/__pycache__
converter-service/.env
gateway-service/.env
notification_service/node_modules
notification_service/.env
secrets-yaml